.cartItems {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 320px;
    min-width: 500px;
    overflow-y: scroll;
  }
  .cartItems ul{
    margin: 0;
    padding: 0;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    margin: 16px 0;
  }
  
  .buttons {
    text-align: right;
  }
  
  .buttons button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #020eff;
    padding: 4px 32px;
    border-radius: 25px;
    margin-left: 1rem;
  }
  
  .buttons button:hover,
  .buttons button:active {
    background-color: #01044d;
    border-color: #01044d;
    color: white;
  }
  
  .buttons .buttonClose {
    color: #020eff;
  }
  
  .buttons .buttonOrder {
    background-color: #020eff;
    color: white;
  }