.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #01044d;
    color: white;
    padding: 12px 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
  }
  
  .button:hover,
  .button:active {
    background-color: rgba(0, 0, 0, 0.687);
  }
  
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  .badge {
    background-color: #020eff;
    padding: 4px 12px;
    border-radius: 25px;
    margin-left: 16px;
    font-weight: bold;
  }
  
  .button:hover .badge,
  .button:active .badge {
    background-color: #020fff84;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }