
.foodItem {
    display: flex;
    justify-content: space-between;
    margin: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
  }
  
  .fooditem h3 {
    margin: 0 0 4px 0;
  }
  
  .description {
    font-style: italic;
  }
  
  .price {
    margin-top: 4px;
    font-weight: bold;
    color: #ad5502;
    font-size: 20px;
  }