
.form {
    text-align: right;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #0d2496;
    border: 1px solid #0d2496;
    color: white;
    padding: 4px 32px;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #031364;
    border-color: #031364;
  }